// Colors
$title-color: #2b2b2b;
$info-text-color: #545454;
$img-background-color: #d6d6d6;
$sticker-background-color: #f7f7f7;
$box-shadow-color: #c3c3c3;

// Sizes
$img-width: 336px;
$content-border-radius: 5px;
$description-font-size: 20px;

