@import './settings.scss';

body
{
    margin: 0;
    padding: 0;
}

.search
{
    width: 900px;
}

.search-result
{
    margin-left: 60px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.search-result__event-desc
{
    margin-left: 36px;
}

.search-result__visual
{
    position: relative;
}

.search-result__visual__sticker
{
    color: $info-text-color;
    background-color: $sticker-background-color;
    border-radius: $content-border-radius;
    box-shadow: 0 0 5px $box-shadow-color;
    font-size: $description-font-size;
    height: 52px;
    position: absolute;
    right: -18px;
    text-align: center;
    top: 22px;
    width: 116px;
}

.search-result__visual__sticker p
{
    margin: 13px 0px;
}

.search-result__visual img
{
    background-color: $img-background-color;
    border-radius: $content-border-radius;
    height: 100%;
    width: $img-width;
}

.search-result__event-desc__info
{
    font-size: $description-font-size;
}

.search-result__event-desc__info p
{
    color: $info-text-color;
    margin: 10px 0;
    -webkit-font-smoothing: antialiased;
}

.search-result__event-desc__title
{
    color: $title-color;
    margin: 3px 0;
}

.calculate-content {
    background-color: #e2e2e2;
    height: 282px;
    position: relative;
}
.calculate-content__button {
    border-radius: 50%;
    font-size: xx-large;
    height: 54px;
    outline: none;
    width: 54px;
}
.calculate-content__result {
    font-size: 70px;
    position: absolute;
    left: 48%;
    margin: 61px 0;
}
.calculate-content__react {
    position: absolute;
    left: 47%;
    margin: 20px 0;
}
.calculate-content__redux {
    position: absolute;
    left: 43%;
    margin: 20px 0;
}
.button-content {
    position: absolute;
    left: 45%;
    top: 55%;
    display: flex;
    width: 121px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
